[Desktop Entry]
Name=Twilight
Comment=The twilight theme. Based on Moon.
Type=Service
X-KDE-PluginInfo-Author=İkaza-Dev
X-KDE-PluginInfo-Name=Twilight
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Look and Feel
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0-or-later
